@font-face{
 src: './assets/Proxima Nova Font.otf';
 font-family: 'Proxima'
}
*{
 font-family: 'Proxima', sans-serif;

}
body{
  font-family: 'Proxima', sans-serif;
  margin: 0;
  padding: 0;
}

.main{
 width: 100%;
 height: auto;
}

.modal-container-box{

 height: 100vh;
 width: 100%;
background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('./images/older-couple-6299326_1920\ 1.png');
 display: grid;
place-items: center;
 background-repeat: no-repeat;
 background-size: cover;
 object-fit: cover;
 object-position: center;
 position:absolute;
 top:0;
 right:0;
 left:0;
 bottom:0;
 z-index:99999999;
}
.modal-item{
 height: 40vh;
 width: 40%;
 background-color: white;
   box-shadow: 1px 1px 10px -1px #cfd2e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.svg-icon{
 width: 150px;
 height: auto;
}
.text-blue{
color: #1b2145;
}
.text-center{
 text-align: center;
}
.btn-dismiss{
 background-color: #1b2145;
 color: white;
 border-radius: 3px;
 outline: none;
 border: none;
 padding: 0.5rem 1rem;
}

.display-none{
 display: none;
 height: 0;
 width: 0;
}
@media(max-width:770px) {
 .modal-item{
  width: 60%;
  height: 30vh;
  padding: 2rem;
 }
}
@media(max-width:600px) {
 .modal-item{
  width: 100%;
  height: 50vh;
  padding: 1rem;
 }
}