@font-face{
 src: './assets/Proxima Nova Font.otf';
 font-family: 'Proxima'
}
*{
 font-family: 'Proxima', sans-serif;

}
body{
  font-family: 'Proxima', sans-serif;
}
.error{
     color: #e70a3e !important;
     font-size: 0.875rem;
     margin-top: 0;
     margin-bottom: 2rem;
}
.instruction{
     color: #1b2145 !important;
     font-size: 0.875rem;
     margin-top: 0;
     margin-bottom: 0.5rem;
}
.signin-containers{
 width: 100%;
 height: 100vh;
 display: grid;
 place-items: center;
 background-color: #1b2145;
 padding:  1.5rerm;


}
.signin-boxs{
 width: 37%;
 height: 90vh;
 display: flex;
 flex-direction: column;
 align-items: center;


}
.cargo-imgs{
 transform: scale(0.8);
 margin-bottom: 0;
}
.form-containers{
 background-color: white;
 margin-top: 1rem;
 width: 100%;
 height: 70vh;
 /* display: grid;
 place-items: center; */
 padding: 2.5rem 1rem 1rem;
 border-radius: 5px;
}
.bold{
 font-weight: 700;
}
.text-faded{
 font-style: italic;
 opacity: 0.6;
 font-weight: 600;
 font-size: 1rem;
 text-decoration: none;
 color: black;

}
.text-brand{
 /* color: #1b2145; */
 text-decoration: none;
margin-left: 0.5rem;
}

@media (max-width:1024px) {
 .signin-boxs{
  width: 80%;
  height: 90vh;
 }
}
@media(max-width:600px) {

  .signin-boxs{
  width: 100%;
  height: auto;
 }
 
 .form-containers{
  height: auto;
 border-radius: 0;
  width: 100%;
 }
}