.error{
     color: #e70a3e !important;
     font-size: 0.875rem;
     margin-top: 0;
     margin-bottom: 2rem;
}
@font-face{
 src: './assets/Proxima Nova Font.otf';
 font-family: 'Proxima'
}
*{
 font-family: 'Proxima', sans-serif;

}
body{
  font-family: 'Proxima', sans-serif;
}
.signin-container{
 width: 100%;
 height: auto;
 min-height: 100vh;
 display: grid;
 place-items: center;
 background-color: #1b2145;
 /* padding: 1.5rem; */
 



}
.form-control::placeholder{
  opacity:0.6;
  font-size: 0.9rem;
  font-weight: 600;
}
.signin-box{
 width: 70%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;


}
.body{
  background-color: #1b2145;
  padding-bottom: 2rem;
}
.cargo-img{
 transform: scale(0.8);
 margin-bottom: 0;
}
.form-container{
 background-color: white;
 margin-top: 1rem;
 width: 100%;
 padding: 1rem 2rem;
 height: auto;
 /* display: grid;
 place-items: center; */
 padding: 2.5rem 1rem 1rem;
 border-radius: 5px;
}
.bold{
 font-weight: 700;
}
.decoration-none{
  text-decoration: none;
}
.text-faded{
 font-style: italic;
 opacity: 0.6;
 font-weight: 600;
 font-size: 1rem;
 text-decoration: none;
 color: black;

}
.text-brand{
 /* color: #1b2145; */
 text-decoration: none;
margin-left: 0.5rem;
}
.custom-red{
  background-color: #e70a3e;
  width:100%;
  border: none;
  outline: none;
  color: white;
}
.custom-red:hover{
  background-color: #e70a3e;
}
@media (max-width:1024px) {
 .signin-box{
  width: 80%;
  height: 90vh;
 }
}
@media(max-width:600px) {

  .signin-box{
  width: 100%;
  height: auto;
 }
 .form-container{
  height: auto;
  width: 100%;
  border-radius: 0;
 }
 .signin-container{
  height: auto;
  padding-top: 1rem;
 }
}

